@forward "components/theme";
@forward "components/buttons";

@forward "layout/header";
@forward "layout/hero";
@forward "layout/about";
@forward "layout/project";
@forward "layout/skill";
@forward "layout/testi";
@forward "layout/service";
@forward "layout/video";
@forward "layout/team";
@forward "layout/step";
@forward "layout/content";
@forward "layout/pricing";
@forward "layout/faq";
@forward "layout/promo";
@forward "layout/blog";
@forward "layout/page-header";
@forward "layout/contact";
@forward "layout/sidebar-area";
@forward "layout/blog-details";
@forward "layout/footer";
