@use "../utilities" as *;

/**----------------------------------------
    START: About CSS
----------------------------------------*/

.about-left-content{
    margin-top: 20px;
    @include breakpoint(md){
        margin-top: 0;
    }
    .section-heading{
        margin-bottom: 300px;
        @include breakpoint(md){
            margin-bottom: 30px;
        }
    }
    .about-counter{
        .title{
            font-family: "NewYork", sans-serif;
            font-size: 180px;
            font-weight: 400;
            margin-bottom: 0;
            line-height: 1;
            display: inline-flex;
            @include breakpoint(sm){
                font-size: 100px;
            }
            .odometer-auto-theme{
                font-family: inherit;
                line-height: 1;
            }
            .icon{
                font-size: 50px;
                font-weight: 700;
                margin-top: 30px;
                @include breakpoint(sm){
                    font-size: 30px;
                }
            }
        }
        p{
            color: var(--cp-color-heading-primary);
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: -10px;
        }
    }
}

.about-content{
    @include breakpoint(md){
        margin-top: 50px;
    }
    p{
        color: var(--cp-color-heading-primary);
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .about-img-wrap{
        max-width: 870px;
        width: 100%;
        @include flex-vertical-center;
        justify-content: space-between;
        column-gap: 24px;
        @include breakpoint(sm){
            flex-wrap: wrap;
            row-gap: 24px;
        }
        .about-img-1{
            max-width: 535px;
            width: 100%;
            height: 350px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .about-img-2{
            max-width: 310px;
            width: 100%;
            height: 350px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.sponsor-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 0;
    @include breakpoint(md){
        margin-bottom: 30px;
    }
    span{
        color: var(--cp-color-theme-primary);
    }
}

// About 2

.about-carousel{
    max-width: 260px;
    margin-left: 0;
    padding-top: 60px;
    padding-right: 0px;
    margin-right: 60px;
    border-right: 1px solid var(--cp-color-border-1);
    padding-bottom: 60px;
    @include breakpoint(lg){
        padding-right: 40px;
        margin-right: 40px;
    }
    @include breakpoint(sm){
        margin-right: 0;
        padding-right: 0;
        border: none;
    }
    .swiper-pagination{
        text-align: left;
        bottom: 0;
        .swiper-pagination-bullet{
            height: 6px;
            width: 16px;
            background-color: var(--cp-color-common-white);
            border-radius: 100px;
            opacity: 1;
            @include transition(all 0.3s ease-in-out);
            &.swiper-pagination-bullet-active{
                width: 40px;
                background-color: var(--cp-color-theme-primary);
            }
        }
    }
}

// About 2

.about-img-2{
    max-width: 562px;
    width: 100%;
    height: 603px;
    @include breakpoint(md){
        height: 500px;
    }
    @include breakpoint(sm){
        height: 350px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-content-2{
    @include breakpoint(md){
        margin-top: 40px;
    }
    .about-thumb{
        margin-bottom: 40px;
    }
    p{
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 40px;
        max-width: 536px;
        width: 100%;
        line-height: 1.4;
    }
}

// About 3

.about-content-3{
    margin-top: 0;
    .section-heading{
        margin-bottom: 85px;
        @include breakpoint(md){
            margin-bottom: 50px;
        }
    }
    .about-inner{
        display: grid;
        align-items: center;
        grid-template-columns: 250px 1fr;
        grid-gap: 100px;
        @include breakpoint(lg){
            grid-gap: 30px;
        }
        @include breakpoint(sm){
            grid-template-columns: 1fr;
        }
        .about-thumb{
            height: 200px;
            max-width: 250px;
            width: 100%;
            margin-bottom: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .about-inner-right{
            p{
                color: #435759;
                font-size: 24px;
                font-weight: 400;
                text-transform: capitalize;
                @include breakpoint(lg){
                    font-size: 18px;
                }
            }
        }
    }
}

.about-img-3{
    max-width: 450px;
    width: 100%;
    height: 550px;
    margin-left: auto;
    @include breakpoint(md){
        margin: 0 auto;
        margin-top: 40px;
    }
    @include breakpoint(sm){
        height: 350px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// About Sponsor

.about-sponsor-wrap{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid var(--cp-color-border-1);
    @include breakpoint(sm){
        grid-template-columns: 1fr;
    }
}

.about-sponsor-item{
    text-align: center;
    padding: 60px 20px;
    &:not(:last-of-type){
        border-right: 1px solid var(--cp-color-border-1);
        @include breakpoint(sm){
            border-right: none;
            border-bottom: 1px solid var(--cp-color-border-1);
        }
    }
}

/* !END: About CSS */
