@use "../utilities" as *;

/**----------------------------------------
START: Blog CSS
----------------------------------------*/

.blog-top{
    .blog-top-btn{
        .cp-primary-btn{
            background-color: var(--cp-color-heading-primary);
            &:before{
                background-color: var(--cp-color-theme-primary);
            }
            .btn-text{
                .btn-text-1{
                    color: var(--cp-color-common-white);
                }
            }
            &:hover{
                .btn-text{
                    .btn-text-2{
                        color: var(--cp-color-heading-primary);
                    }
                }
            }
        }
    }
}

.post-card {
    .post-thumb {
        position: relative;
        height: 300px;
        overflow: hidden;
        margin-bottom: 25px;
        &:after{
            background: rgba(255, 255, 255, 0.3);
            bottom: 0;
            content: "";
            left: 50%;
            position: absolute;
            right: 51%;
            top: 0;
            opacity: 1;
            pointer-events: none;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;    
            transform: scale3d(1, 1, 1);
            transition: transform 1s ease-in-out;
        }
    }
    .post-content {
        .title {
            font-size: 28px;
            font-weight: 600;
            line-height: 1.3;
            margin-bottom: 25px;
            text-transform: capitalize;
            @include breakpoint(sm){
                font-size: 18px;
            }
            a {
                background: linear-gradient(var(--cp-color-heading-primary) 0%, var(--cp-color-heading-primary) 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                @include transition(all 0.4s ease-in-out);
                &:hover {
                    color: var(--cp-color-heading-primary);
                    background-size: 100% 2px;
                }
            }
        }
    }
    &:hover{
        .post-thumb{
            &:after{
                left: 0;
                right: 0;
                opacity: 0;
            }
            img{
                transform: scale(1.04) rotate(0deg);
            }
        }
    }
}

.post-card-3{
    .post-content{
        .title{
            text-transform: inherit;
        }
    }
}

.post-meta {
    @include flex-vertical-center;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 10px;
    li {
        font-family: var(--cp-ff-heading);
        color: var(--cp-color-heading-primary);
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        @include flex-vertical-center;
        line-height: 1;
        i{
            font-size: 14px;
        }
        &:not(:last-of-type){
            margin-right: 15px;
        }
        a {
            &:hover {
                color: var(--cp-color-theme-primary);
            }
        }
        @include breakpoint(sm){
            font-size: 12px;
        }
        &.category-text{
            font-family: var(--cp-ff-heading);
            text-transform: uppercase;
            padding: 10px 20px;
            border: 1px solid #B3C0CA;
            border-radius: 100px;
        }
    }
}

// Post Card Wrap

.post-card-wrap{
    &>div{
        &:not(:last-of-type){
            margin-bottom: 30px;
        }
    }
}

.blog-left-content{
    p{
        color: #335872;
        font-size: 22px;
        font-weight: 400;
    }
    .blog-btn{
        .cp-primary-btn{
            background-color: var(--cp-color-heading-primary);
            &:before{
                background-color: var(--cp-color-theme-primary);
            }
            .btn-text{
                .btn-text-1{
                    color: var(--cp-color-common-white);
                }
            }
        }
    }
}

.post-card-2{
    .post-thumb{
        height: 400px;
    }
    .post-content{
        .title{
            text-transform: capitalize;
            font-size: 28px;
            font-weight: 600;
            @include breakpoint(sm){
                font-size: 24px;
            }
            span{
                font-family: "NewYork", sans-serif;
                font-weight: 400;
            }
        }
    }
}

// Inner Post

.post-inner-card-wrap{
    @include breakpoint(md){
        margin-bottom: 50px;
    }
}

.inner-post{
    &:not(:last-of-type){
        margin-bottom: 40px;
    }
    .post-thumb{
        height: 450px;
        margin-bottom: 30px;
        overflow: hidden;
        @include breakpoint(md){
            height: 400px;
        }
        @include breakpoint(sm){
            height: 350px;
        }
    }
    .post-content{
        .post-meta{
            margin-bottom: 25px;
        }
        .title{
            font-size: 40px;
            font-weight: 600;
            text-transform: inherit;
            @include breakpoint(sm){
                font-size: 24px;
            }
            span{
                font-family: "NewYork", sans-serif;
                font-weight: 200;
            }
        }
        p{
            font-size: 18px;
            margin-bottom: 35px;
            color: #335872
        }
    }
}

.pagination-wrap{
    @include flex-vertical-center;
    list-style: none;
    column-gap: 10px;
    li{
        a{
            background-color: transparent;
            color: var(--cp-color-common-white);
            font-weight: 700;
            height: 50px;
            width: 50px;
            font-size: 20px;
            @include flex-center;
            line-height: 1;
            border: 1px solid var(--cp-color-border-1);
            &:hover{
                background-color: var(--cp-color-theme-primary);
                color: var(--cp-color-common-white);
                border: 1px solid var(--cp-color-theme-primary);
            }
        }
        .active{
            background-color: var(--cp-color-theme-primary);
            color: var(--cp-color-common-white);
            border: 1px solid var(--cp-color-theme-primary);
        }
    }  
}

/* !END: Theme Blog CSS */
