@use "../utilities" as *;

/**----------------------------------------
    START: Project CSS
----------------------------------------*/

.project-section{
    position: relative;
    z-index: 1;
    .bg-color{
        background-color: var(--cp-color-common-white);
        width: 100%;
        height: 200px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

.project-carousel-wrap{
    padding: 0 24px;
    @include breakpoint(sm){
        padding: 0 15px;
    }
}

.project-carousel{
    padding-bottom: 80px;
    @include breakpoint(sm){
        padding-bottom: 0;
    }
    .swiper-pagination{
        bottom: 0;
        @include breakpoint(sm){
            display: none;
        }
        .swiper-pagination-bullet{
            background-color: var(--cp-color-heading-primary);
            height: 2px;
            max-width: 440px;
            width: 100%;
            margin: 0;
            @include breakpoint(xl){
                max-width: 250px;
            }
            @include breakpoint(md){
                max-width: 200px;
            }
        }
    }
}

.project-item{
    position: relative;
    .project-thumb{
        height: 450px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .overlay{
            background-color: #002E4F;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            @include transition (all 0.3s ease-in-out);
        }
    }
    .project-content{
        background-color: var(--cp-color-theme-primary);
        position: absolute;
        bottom: 30px;
        left: 40px;
        z-index: 5;
        padding: 40px;
        border-radius: 8px;
        visibility: hidden;
        opacity: 0;
        @include transition (all 0.3s ease-in-out);
        @include breakpoint(md){
            padding: 30px 30px;
            left: 30px;
            bottom: 20px;
        }
        @include breakpoint(sm){
            left: 20px;
        }
        .title{
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 5px;
            text-transform: uppercase;
            @include breakpoint(md){
                font-size: 20px;
            }
            a{
                color: var(--cp-color-heading-primary);
            }
        }
        span{
            color: var(--cp-color-heading-primary);
            font-family: var(--cp-ff-heading);
            display: block;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
            padding-left: 32px;
            @include breakpoint(md){
                font-size: 14px;
            }
            &:before{
                background-color: var(--cp-color-heading-primary);
                width: 24px;
                height: 2px;
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    &:hover{
        .project-thumb{
            .overlay{
                visibility: visible;
                opacity: 0.3;
            }
        }
        .project-content{
            bottom: 40px;
            visibility: visible;
            opacity: 1;
            @include breakpoint(md){
                bottom: 30px;
            }
        }
    }
}

// Project Inner

.project-inner{
    .project-thumb{
        @include breakpoint(md){
            height: 400px;
        }
    }
    .project-content{
        width: 80%;
        padding: 30px 30px;
        @include breakpoint(lg){
            left: 20px;
        }
        .title{
            font-size: 22px;
            @include breakpoint(lg){
                font-size: 20px;
            }
        }
    }
}


// Project Details

.project-details-img{
    height: 650px;
    width: 100%;
    @include breakpoint(md){
        height: 400px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.project-details-content{
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(63, 63, 44, 0.1);
    .project-details-meta{
        @include flex-vertical-center;
        justify-content: space-between;
        column-gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid rgba(63, 63, 44, 0.1);
        @include breakpoint(sm){
            flex-direction: column;
            row-gap: 30px;
            justify-content: baseline;
            align-items: baseline;
        }
        .project-meta{
            span{
                color: #335872;
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                display: block;
                margin-bottom: 10px;
                letter-spacing: 2px;
            }
            .title{
                color: var(--cp-color-heading-primary);
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }
    }
    .details-title{
        font-size: 64px;
        font-weight: 600;
        margin-bottom: 20px;
        @include breakpoint(md){
            font-size: 50px;
            margin-bottom: 20px;
        }
        @include breakpoint(sm){
            font-size: 30px;
        }
        span{
            font-family: "NewYork", sans-serif;
            font-weight: 200;
        }
    }
    .details-title-2{
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 20px;
        @include breakpoint(md){
            font-size: 40px;
            margin-bottom: 20px;
        }
        @include breakpoint(sm){
            font-size: 26px;
        }
        span{
            font-family: "NewYork", sans-serif;
            font-weight: 200;
        }
    }
    p{
        color: #335872;
        font-size: 18px;
        font-weight: 400;
        @include breakpoint(sm){
            font-size: 15px;
        }
    }
    .project-details-thumb-wrap{
        @include flex-vertical-center;
        column-gap: 24px;
        margin: 60px 0;
        margin-top: 65px;
        @include breakpoint(md){
            margin: 40px 0;
        }
        @include breakpoint(sm){
            flex-direction: column;
            row-gap: 24px;
        }
        .project-details-thumb{
            height: 650px;
            width: 100%;
            @include breakpoint(md){
                height: 400px;
            }
            .img-overlay{
                background-color: var(--cp-color-bg-1);
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .details-title-2{
        font-size: 36px;
        font-weight: 600;
        @include breakpoint(md){
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}

/* !END: Project CSS */
