@use "../utilities" as *;

/**----------------------------------------
    START: Page Header CSS
----------------------------------------*/


.step-section{
    position: relative;
    z-index: 1;
    .step-img{
        max-width: 648px;
        width: 100%;
        height: 382px;
        position: absolute;
        top: 0;
        right: 15%;
        @include breakpoint(xxl){
            right: 0;
        }
        @include breakpoint(xl){
            max-width: 550px;
        }
        @include breakpoint(lg){
            height: 300px;
        }
        @include breakpoint(md){
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .section-heading{
        margin-bottom: 120px;
        @include breakpoint(lg){
            margin-bottom: 150px;
        }
        @include breakpoint(md){
            margin-bottom: 0px;
        }
    }
}


.step-details-item-wrap{
    position: relative;
    margin: 0;
    &>div{
        padding: 0;
    }
    .line{
        background-color: #F8F5F3;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        @include breakpoint(md){
            display: none;
        }
    }
    .step-details-item{
        margin-top: 45px;
        position: relative;
        @include breakpoint(md){
            margin-top: 0;;
        }
        .dot-shape{
            background-color: var(--cp-color-common-white);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: absolute;
            top: -49.5px;
            left: 0;
            @include breakpoint(md){
                display: none;
            }
        }
        .number{
            color: var(--cp-color-common-white);
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            position: absolute;
            top: -85%;
            left: 0;
            @include breakpoint(md){
                position: relative;
                top: 0;
                margin-bottom: 30px;
            }
        }
        .title{
            color: var(--cp-color-common-white);
            font-size: 24px;
            font-weight: 500;
            margin: 15px 0;
        }
        p{
            color: #E7E7E7;
            font-size: 18px;
            margin-bottom: 0;
            max-width: 260px;
            width: 100%;
        }
    }
}

/* !END: Page Header CSS */
