$colors: (
    "common": (
        "white": #ffffff,
        "black": #000000,
    ),
    "heading": (
        "primary": #002E4F,
    ),
    "text": (
        "body": #002E4F,
        "black": #0E0E0E,
    ),
    "theme": (
        "primary": #DFCA5F,
    ),
    "bg": (
        "1": #002E4F,
        "2": #06192F,
    ),
    "grey": (
        "1": #EAEAEA,
    ),
    "border": (
        "1": rgba(255, 255, 255, 0.20),
    ),
);
