// Font URL
$font-url: "https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap";

//Font Family
$font-family: (
    "ff": (
        "body": "'Euclid Circular B', sans-serif",
        "heading": "'Instrument Sans', serif",
        "p": "'Euclid Circular B', sans-serif",
    ),
);

// Font Weight
$font-scale: (
    "fw": (
        "normal": normal,
        "thin": 100,
        "elight": 200,
        "light": 300,
        "regular": 400,
        "medium": 500,
        "sbold": 600,
        "bold": 700,
        "ebold": 800,
        "black": 900,
    ),
);

// Font Size
$font-size: (
    "fs": (
        "body": 18,
        "p": 18,
        "h1": 120,
        "h2": 64,
        "h3": 24,
        "h4": 20,
        "h5": 18,
        "h6": 14,
    ),
);
